---
layout: default
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div id="grid" class="row flex-grid">
    {% for post in site.posts %}
        <article class="box-item post post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <div class="box-data">
                  <span>
                      <a href="{{site.url}}{{site.baseurl}}/category/{{post.main-class}}">{{post.main-class}}</a>
                  </span>
                  <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
                  <time datetime="{{ post.date| date_to_xmlschema }}">
                    {% include post-date.html %}
                  </time>
                </div>
                <div class="box-title" style="background-image: url('{{ post.image }}');">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                      <h2 class="post-title" itemprop="name">
                          {{ post.title }}
                      </h2>
                  </a>
                </div>
                <div class="box-body">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        <p class="description">{{ post.introduction }}</p>
                    </a>
                </div>
        </article>
    {% endfor %}
    </div>
</main>
