<header>
	<a>
		<img src="assets/img/logo.png" width="auto" height="30" data-src-retina="assets/img/logo.png" class="alt" alt="">
	</a>
	<input type="checkbox" id="control-nav" />
	<label for="control-nav" class="control-nav"></label>
	<label for="control-nav" class="control-nav-close"></label>

	<nav>
		<div class="container">
			<div class="pull-center">
				<div class="pull-center-inner">
					<div class="header-inner ">
						<img src="assets/img/logo.png" width="auto" height="100%" data-src-retina="assets/img/logo.png" class="alt" alt="logo mocariz">
					</div>
				</div>
			</div>
			<div class="menu-content clearfix" id="header">
				<div class="pull-left">
					<div class="header-inner">
						<ul class="menu">
							<li class="open">
								<a href="index.html" data-text="Home">Home</a>
							</li>
							<li>
								<a href="pricing.html" data-text="Pricing" class="active">Sobre</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-right">
					<div class="header-inner">
						<ul class="menu second">
							<li>
								<a href="portfolio.html" data-text="Portfolio">Tags</a>
							</li>
							<li>
								<a href="contact.html" data-text="Contact Us">Feed</a>
							</li>
						</ul>
						<a id="search" class="dosearch">
							<svg class="icon-menu icon-search" style="display: inline;">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>