
.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    .footer-border
      width 100%
      height rem(35px)
      background-image url('/assets/img/footer.png')
      background-color #f7f3ff
      background-size rem(40px) rem(40px)
      background-repeat repeat-x
    .footer-content
      height rem(80px)
      background rosa
    p,a
        text-decoration none
        mainFont(300)
        color sec
        text-align center
        margin 0
        padding 30px 0
    a
      cursor pointer
