main
    padding-top rem(120px)
    padding-bottom rem(50px)
    +below(cut)
        padding rem(100px) 0 0 0

.row
    center(rem(1300px))

.flex-grid
    display flex
    flex-flow row wrap

.box-item
    width rem(190px)
    margin 0 rem(10px) rem(30px)
    position relative
    border-radius 10px
    height rem(250px) 
    box-shadow 1px 3px 5px #BDBDBD
    &.size-2
        width  rem(400px)
        height rem(180px) 
        .box-title
            height 100px
    &.top-70
        margin-top auto
        +desktop()
            margin-top rem(-70px)
    +below(cut)
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center !important;
    &:hover
        box-shadow 1px 2px 10px #8a7d7d
    .box-header
        height 30px
        a
            font-size 14px
            color #FFFFFF
            mix-blend-mode normal
            text-transform uppercase
            margin-left 15px
            margin-top 10px
            position absolute
            text-decoration none
    .box-title
        height 170px
        p
            margin-top 10px
            margin-left 15px
            font-style normal
            font-weight bold
            font-size 20px
            color #FFFFFF;
            text-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
    .box-footer
        .post-link
            padding 7px
            background #ffffff
            color #333333
            border-radius 3px
            text-decoration none
            box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
            margin-left 15px
            font-style normal
            font-weight 600
            line-height normal
            font-size 14px

      
