main
    padding-top rem(140px)
    background rgba(174, 129, 255, 0.1)
    padding-bottom rem(50px)

.row
    center(rem(1200px))

.flex-grid
    display flex
    flex-flow row wrap

.title-category
    center(rem(1000px))
    font-size rem(40px)
    margin-top 0
    text-transform uppercase
    padding 0 rem(15px)

.box-item
    border 1px solid #ddd
    flex 1 0 300px
    margin 0 rem(15px) rem(50px)
    display inline-block
    border-radius 4px
    min-height rem(285px)
    transition all .3s
    position relative
    .box-data
      display table
      width 100%
      height rem(55px)
      text-align right
      padding rem(15px) rem(20px) 0 0
      margin-bottom rem(-5px)
      time
        font-size rem(14px)
        color #b2bac2
      span
        float left
        padding rem(5px) 0 0 rem(20px)
        font-size rem(12px)
        font-weight bold
        text-transform uppercase
        a
          color main
          border rem(1px) solid #bb2f53
          padding rem(8px) rem(8px) rem(5px) rem(8px)
          border-radius rem(5px)
          box-shadow rem(1px) rem(1px) rem(2px) #b9c7c2
    .box-title
      height rem(200px)
      display flex
      -moz-transition -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease
      -webkit-transition -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease
      -ms-transition -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease
      transition transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease
      background-position center
      background-repeat no-repeat
      background-size cover
      overflow hidden
      position relative
      &:before
        background-color main
        webkit-transition opacity 0.5s ease
        -ms-transition opacity 0.5s ease
        transition opacity 0.5s ease
        bottom 0
        content ''
        height 100%
        left 0
        opacity 0.85
        position absolute
        width 100%
        z-index 2
      &:hover:before
        opacity 0
      a
        color white
        z-index 5
        width 100%
        h2
          padding 50px 0
          text-align center
    &:hover
      box-shadow 1px 2px 10px rgba(174, 129, 255, 0.58)
    a
      text-decoration none
    .box-body
        padding rem(25px)
        h2
            margin rem(5px) 0 rem(15px)
            font-size rem(20px)
            mainFont(800)
            color main
            span
                color
        p
            margin 0 0 rem(20px)
            color #576366
            font-size rem(14px)
            line-height rem(22px)
        .tags a
            color main
            padding rem(5px) rem(10px)
            border-radius 3px
            display inline-block
            margin 0 0 rem(5px)
            z-index 50

#banner
  background-image url('/assets/img/bg-pattern.png')
  background-color #bb2f53
  color white
  position relative
  height rem(450px)
  overflow-y hidden
  .wrapper
    height 100%
    padding 0
    max-width 740px
    margin-right auto
    margin-left auto
