*, *before, *after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

header
    #control-nav
        visibility hidden
        position absolute
        left -9999px
        &:checked
            & ~ .control-nav-close
                -webkit-transform translate(0, 0)
                -ms-transform translate(0, 0)
                transform translate(0, 0)
            & ~ nav
                .container
                    -webkit-transform translate(0, 0)
                    -ms-transform translate(0, 0)
                    transform translate(0, 0)

    .control-nav
        &:before
            content ""
            display block
            height 3px
            background #333
        +below(cut)
            position absolute
            right 20px
            top 20px
            display block
            width 30px
            padding 5px 0
            border solid #333
            border-width 3px 0
            z-index 11
            cursor pointer

    .control-nav-close
        +below(cut)
            position fixed
            right 0
            top 0
            bottom 0
            left 0
            display block
            z-index 1
            background rgba(0,0,0,0.4)
            -webkit-transition all 500ms ease
            transition all 500ms ease
            -webkit-transform translate(100%, 0)
            -ms-transform translate(100%, 0)
            transform translate(100%, 0)

    .pull-right
        float right
        +below(cut)
            float none

    .pull-left
        float left !important
        position relative
        +below(cut)
            float none
            position unset

    img 
        vertical-align middle
        border 0
        +below(cut)
            position absolute
            top 20px
            display block
            width 32%
            z-index 11
            left 10px

    nav
        display block
        position fixed
        top 0
        right 0
        left 0
        height rem(70px)
        z-index 10
        border-bottom 1px solid #eeeeee7d
        box-shadow 1px 1px 5px 1px #eeeeee73
        background-color #ffffff
        font-weight 300
        .alt 
            display inline-block                
        .header-inner
            line-height rem(70px)
            +below(cut)
                line-height 0px
            .menu
                transform none !important
                display inline-block
                line-height 0
                +below(cut)
                    line-height 30px
                li
                    display inline-block
                    list-style none
                    font-size rem(14px)
                    margin-right rem(12px)
                    vertical-align middle
                    font-family cursive
                    font-weight bold
                    a
                        text-transform uppercase
                        padding-right rem(21px)
                        letter-spacing 0.01em
                        &hover
                            color main
                    +below(cut)
                        display block
                &.second
                    +below(cut)
                        margin-top -15px
            a
                text-decoration none
                color #000
                opacity 0.5
                .icon-search
                    width 15px
                    height 15px
                    cursor pointer
                    right 19.6%
                    top 23px
                    +below(cut)
                        display none !important
                    &hover
                        fill main
        .container
            width auto
            max-width 55rem;
            padding-right rem(15px)
            padding-left rem(15px)
            margin-right auto
            margin-left auto
                
            .pull-center 
                position absolute
                left 0
                right 0
                .pull-center-inner
                    display table
                    margin 0 auto
                +below(cut)
                    display none          
            +below(cut)
                position fixed
                top 0
                right 0
                bottom 0
                width 175px
                border-left 1px solid #ccc
                background #fff
                overflow-x auto
                z-index 2
                -webkit-transition all 500ms ease
                transition all 500ms ease
                padding-left 0px
                -webkit-transform translate(100%, 0)
                -ms-transform translate(100%, 0)
                transform translate(100%, 0)
                .menu-content
                    margin-top 35px
        +below(cut)
            height rem(50px)