themes = {
    post-life: #2dbf80,
    post-css: #0171bb,
    post-javascript: #e5a228,
    post-html: #e44d26,
    post-dev: #30aee0,
    post-layout: #7AAB13
}

for theme, category-color in themes
    .{theme}
        .bar-header
          background-color category-color
          background-image url('/assets/img/bg-pattern.png')
          height 55px
          .logo a
      	     color white
        a.slideButton
            border-color sec
            span, .icon-menu
                color sec
                fill sec
        .title-category
            color category-color
        .post-content
            h1,h2,h3,h4
                color category-color
            a
                color category-color
                border-bottom 2px dashed category-color
                &:hover
                    background-color category-color
                    color #fff
            strong
                color category-color
            p,
            li
                code
                    color category-color
            blockquote
                border-left .313rem solid category-color

        .header-post,
        .header-site
            background-color category-color
            h1
                text-shadow 3px 3px darken(category-color, 20%)
        #close
            background category-color
        aside
            background-color category-color
            a:hover
                color category-color
                font-weight bold
            ul.rss
                a
                    background sec
                    color category-color
        .author .email,
        .author .github
            color category-color

        .share a
            &:hover svg
                fill category-color

        body
            &.search-overlay
                &:after
                    +below(cut)
                        background-color category-color


        .box-body
            h2
                color category-color
            .tags a
                color category-color
                border 1px solid category-color

        .ribbon span
            background-color category-color
            &:before
                border-left 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
            &:after
                border-right 3px solid darken(category-color, 30%)
                border-top 3px solid darken(category-color, 30%)
        footer
            background category-color
